[Desktop Entry]
Encoding=UTF-8
Name='AQMS EFS2'
Comment=AQMS-EFS2
Icon=/home/mx/aqms-efs2/gui/public/img/logo.png
Exec=xfce4-terminal -e '/usr/bin/python3 /home/mx/aqms-efs2/AQMS_EFS2.py'
Terminal=true
Type=Application
Path=
StartupNotify=false