[Desktop Entry]
Encoding=UTF-8
Name='AQMS EFS2'
Comment=AQMS-EFS2
Icon=/home/mx/aqms-efs2/gui/public/img/logo.png
Exec=xfce4-terminal -e 'sh /home/mx/aqms-efs2/AQMS_EFS2.sh'
Terminal=true
Type=Application
Path=
StartupNotify=false