[Unit]
Description=AQMS Drivers Background Service
After=mysqld.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=mx
ExecStart=/usr/bin/python3 /home/mx/aqms-efs2/drivers/mainboard_efs2.alpha.py

[Install]
WantedBy=multi-user.target