[Unit]
Description=AQMS Sending Background Service
After=mysqld.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=mx
ExecStart=/home/mx/aqms-efs2/services/sending.sh

[Install]
WantedBy=multi-user.target